<div class="content">
  <svg viewBox="0 0 600 300" class="svg-defs">

    <!-- Symbol with text -->
    <symbol id="s-text">
      <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text">
        404
      </text>
    </symbol>

    <!-- Mask with text -->
    <mask id="m-text" maskunits="userSpaceOnUse" maskcontentunits="userSpaceOnUse">

      <rect width="100%" height="100%" class="mask__shape">
      </rect>
      <use xlink:href="#s-text" class="mask__text"></use>

    </mask>
  </svg>

  <div class="box-with-text">

    <!-- Container for video -->
    <div class="text-fill">
      <img clip-path="url(#user-space)" x="0" y="0" id="gif" class="nlSABoG9CSaJpsufv8WW9 _3vYn8QjoEvrXxHyqdn9ddZ _2XBDTIVigBJDybhZvL-hU3" src="https://media.giphy.com/media/11j6oiwfuzwu9G/200w.webp" srcset="https://media.giphy.com/media/11j6oiwfuzwu9G/200w.webp 200w,https://media.giphy.com/media/11j6oiwfuzwu9G/giphy.webp 480w," sizes="100vw" alt="">
    </div>

    <!-- Visible SVG -->
    <svg viewBox="0 0 600 300" class="svg-inverted-mask">
      <rect width="100%" height="100%" mask="url(#m-text)" class="shape--fill" />
      <use xlink:href="#s-text" class="text--transparent"></use>
    </svg>
  </div>

</div>


