input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.help-block {
  color: red;
}

.centered {
  text-align: center;
}

.centered .control-label {
  text-align: left;
}

.form-group.required .control-label:after {
  content: " * ";
  color: red;
}
