<div class="justify-content-center" *ngIf="!submitSuccess else successMessage">
  <h1>Contact Us</h1>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group required">
    <label class="control-label" for="name">Name</label>
    <input
      id="name"
      type="text"
      class="form-control"
      formControlName="name">
    <span
      *ngIf="!contactForm.get('name').valid && contactForm.get('name').touched"
      class="help-block">
        <span *ngIf="contactForm.get('name').errors['required']">This field is required!</span>
    </span>
  </div>
  <div class="form-group required">
    <label class="control-label" for="email">Email</label>
    <input id="email" type="text" class="form-control" formControlName="email">
    <span
      *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched"
      class="help-block">
      <span *ngIf="contactForm.get('email').errors['required']; then requiredEmailBlock else invalidEmailBlock"></span>
      <ng-template #requiredEmailBlock>This field is required!</ng-template>
      <ng-template #invalidEmailBlock>Please enter a valid email!</ng-template>
    </span>
  </div>
  <div class="form-group required">
    <label class="control-label" for="message">Message</label>
    <textarea
      id="message"
      name="message"
      rows="3"
      class="form-control"
      formControlName="message"
    ></textarea>
    <span
      *ngIf="!contactForm.get('message').valid && contactForm.get('message').touched"
      class="help-block">
      This field is required!
    </span>
  </div>
  <div class="form-check">
    <input
      id="shouldAddToNewsletter"
      type="checkbox"
      name="shouldAddToNewsletter"
      class="form-check-input"
      formControlName="shouldAddToNewsletter">
    <label for="shouldAddToNewsletter">Would you like to subscribe to our newsletter?</label>
  </div>
  <button class="btn btn-primary mt-3" type="submit">Submit</button>
</form>
</div>
<ng-template #successMessage>
  <h2>Thank You Very Much!</h2>
  <div class="alert alert-success" role="alert">We've received your submission!</div>

  <button class="btn btn-primary mt-3" (click)="onReset()">&laquo; Go Back</button>
</ng-template>
